*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: linear-gradient(to right, #410f7a, #0d8d8d);
    --background-reverse: linear-gradient(to right, #0bcccc, #410f7a);
    --background-reverse-hover: linear-gradient(to right, #0db6b6, #32046b);
    --color : #FFFF;
    --font-original: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    background: var(--background);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





