.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}


.logo{
    width: 18rem;
}

.title{
    font-size: 2.6rem;
    text-align: center;
    font: bold;
    font-family: var(--font-original);
    color: var(--color);
    margin-bottom: 2rem;
}

@media (min-width : 320px) and (max-width: 740px){

    .logo{
        width: 14rem;
    }

    .title{
        text-align: center;
        font-size: 2rem;
    }
}





