.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: var(--font-original);
    font-weight: bold;
}



.footer-a{
    text-decoration: none;
    color: rgb(29, 15, 15);
    font-family: var(--font-original);
    font-weight: bold;
}

.footer-a:hover{
    text-decoration: underline;
}


.footer-p{
    color: var(--color);
    text-align: center;
}


@media (min-width : 340px) and (max-width: 780px){

    .footer-p{
        font-size: 0.8rem;
    }

    .footer-a{
        font-size: 0.8rem;
    }
}